.carousel {
  position: relative;
  overflow: hidden;
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    .carousel-slide {
      width: 100%;
      flex-shrink: 0;
      .slide-img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
