/* this is style for both carousels (image and text) */

@use "../abstracts/breakpoints" as breakpoints;

.carousel {
  position: relative;
  overflow: hidden;
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    .carousel-slide {
      width: 100%;
      flex-shrink: 0;
      .slide-img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.carousel-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

@include breakpoints.media(large) {
  .carousel-lg-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .carousel-sm-buttons {
    display: none;
  }
}
