@use "../abstracts/breakpoints" as breakpoints;

.hero {
  position: relative;
  .header {
    position: absolute;
    left: 0;
    right: 0;
    .nav-toggle {
      z-index: 1000;
      @include breakpoints.media(medium) {
        display: none;
      }
    }
    .header__icon {
      z-index: 998;
    }
  }
  .nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    @include breakpoints.media(medium) {
      display: grid;
      background-color: transparent;
      left: auto;
    }
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
}
