@use "../abstracts/breakpoints" as breakpoints;

.grid {
  display: grid;
}
.grid-row {
  grid-auto-flow: column;
}
.grid-center-vertical {
  align-items: center;
}

.grid-justify-right {
  justify-content: end;
}

.grid-center {
  place-items: center;
}

.grid-align-center {
  align-items: center;
  align-content: center;
}

.grid-gap-1 {
  gap: 1em;
}

.grid-gap-2 {
  gap: 2em;
}

.grid-item-center {
  justify-self: center;
}

.grid-item-left {
  justify-self: start;
}

@include breakpoints.media(large) {
  .grid-lg-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-lg-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-lg-row {
    display: grid;
    grid-auto-flow: column;
  }
  .grid-item-left {
    justify-self: start;
  }
  .grid-item-right {
    justify-self: end;
  }
  .grid-lg-span-7 {
    grid-column: span 7;
  }
  .grid-lg-span-5 {
    grid-column: span 5;
  }
  .grid-lg-span-4 {
    grid-column: span 4;
  }
}

@include breakpoints.media(medium) {
  .grid-md-justify-left {
    justify-content: start;
  }
}
